<a href="https://colab.research.google.com/github/Michael-ozenua090/Michael-ozenua090/blob/main/Copy_of_NCS_workshop_Introduction_to_Python_for_Machne_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Machine Learning Workshop

## Introduction to Python

### Why Python?
- Versatile programming language
- Easy to learn and read
- Extensive libraries for data science and machine learning
- Large community support

[image](https://www.google.com/url?sa=i&url=https%3A%2F%2Fsolutionshub.epam.com%2Fblog%2Fpost%2Fprogramming-language-popularity-on-github&psig=AOvVaw2k-Gmy3uAGpKZf2r7Fy6-b&ust=1732195919649000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPj76eeC64kDFQAAAAAdAAAAABAE)




### Python Applications Across Industries
1. Technology
   - Web Development
   - Artificial Intelligence
   - Software Engineering

2. Data Science
   - Machine Learning
   - Data Analysis
   - Big Data Processing

3. Finance
   - Algorithmic Trading
   - Risk Management
   - Financial Analysis

4. Healthcare
   - Medical Image Analysis
   - Predictive Diagnostics
   - Research and Simulation

5. Scientific Research
   - Astronomical Data Analysis
   - Genomics
   - Climate Modeling

## Basic Python Concepts

### 1. Variables and Data Types

In [ ]:
# Numeric Types
age = 25  # integer
height = 1.75  # float
name = "John Doe"  # string
is_student = True  # boolean

print(f"Name: {name}, Age: {age}, Height: {height}")

Name: John Doe, Age: 25, Height: 1.75

### 2. Lists

In [ ]:
# Creating and manipulating lists
fruits = ["apple", "banana", "cherry"]
print("Original list:", fruits)

# Adding elements
fruits.append("date")
print("After appending:", fruits)

# Accessing elements
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

# List slicing
print("First two fruits:", fruits[:2])

Original list: ['apple', 'banana', 'cherry']
After appending: ['apple', 'banana', 'cherry', 'date']
First fruit: apple
Last fruit: date
First two fruits: ['apple', 'banana']

### 3. Conditional Statements

In [ ]:
# If-else conditions
age = 20
if age < 18:
    print("Minor")
elif age >= 18 and age < 65:
    print("Adult")
else:
    print("Senior")

Adult


### 4. Loops

In [ ]:
# For loop
for fruit in fruits:
    print(f"I like {fruit}")

# List comprehension
squared_numbers = [x**2 for x in range(5)]
print("Squared numbers:", squared_numbers)

I like apple
I like banana
I like cherry
I like date
Squared numbers: [0, 1, 4, 9, 16]

### 5. Functions

In [ ]:
def greet(name):
    """Simple greeting function"""
    return f"Hello, {name}!"

print(greet("Workshop Participant"))

Hello, Workshop Participant!

##

### 1. Numpy

In [ ]:
# Numpy for numerical computing
import numpy as np

In [ ]:
# Creating a numpy array
data = np.array([1, 2, 3, 4, 5])
print("Numpy array operations:")
print("Mean:", np.mean(data))
print("Standard Deviation:", np.std(data))

Numpy array operations:
Mean: 3.0
Standard Deviation: 1.4142135623730951

### 2. Pandas

In [ ]:
# Pandas for data manipulation
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Chicago']
})
print("\nPandas DataFrame:")
print(df)

Pandas DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Chicago

In [ ]:
# Read sample dataset with pandas
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# basic pandas descriptive functions
print(df.describe())

### 3. Matplotlib & Seaborn

In [ ]:
# plot sctatter plot of median income and house value
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 6))
sns.scatterplot(data=df.sample(400), x='median_income', y='median_house_value')
plt.show()








### 4. Scikit-learn

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np

# Simple linear regression example
X = np.array([1, 2, 3, 4, 5]).reshape(-1, 1)
y = np.array([2, 4, 5, 4, 5])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)

print("\nLinear Regression:")
print("Model Score:", model.score(X_test, y_test))